* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  transition: 0.4s;
  color: rgb(233, 229, 229);
  font-size: 16px;
  letter-spacing: 1px;
  background:#350707;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height:100vh;
  padding: 0 20px;
  /* background: #DC2424; 
 background: -webkit-linear-gradient(to right, #4A569D, #DC2424); 
  background: linear-gradient(to right, #4A569D, #DC2424);  */
  
  background-image: url(./Images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  
  display: flex;
}
.head{
  color:#311b1b;
  font-size: 30px;
  font-style:italic;
  margin-bottom: 40px;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: -webkit-linear-gradient(to right, rgba(233, 190, 155, 0.911), #ffffff); 
  background: linear-gradient(to right, rgb(204, 178, 138), #e9dbcf);
 
}


.login .loginContainer label {
  color:#000000;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border-color: rgb(19, 18, 18);
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: -webkit-linear-gradient(to right, rgba(233, 190, 155, 0.911), #ffffff); 
  background: linear-gradient(to right, rgb(204, 178, 138), #e9dbcf);
  color: rgb(8, 8, 8);
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: rgb(30, 28, 28);
}

.login .loginContainer .btnContainer p span {
  color:#a52a2a;;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #fa0303;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.Test {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.Test nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Test nav h2 {
  color: #fff;
}

.Test nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}

.resetbtn{
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover{
  background: #DC2424;  
  background: -webkit-linear-gradient(to right, rgba(252, 250, 249, 0.911), #161414); 
  background: linear-gradient(to right, rgb(230, 227, 222), #181716);
  color: white;

}