* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  transition: 0.4s;
  color: rgb(233, 229, 229);
  font-size: 16px;
  letter-spacing: 1px;
  background:#350707;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #DC2424;  /* fallback for old browsers */
  display: flex;
}
.head{
  color:#ddcaca;
  font-size: 30px;
  margin-bottom: 40px;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(19, 18, 18);
  box-shadow: 0 50px 70px -20px rgba(238, 226, 226, 0.8);
  transition: 0.6s;
}


.login .loginContainer label {
  color:#dfcece;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 251, 251, 0.877);
  color: rgb(34, 33, 33);
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: whitesmoke;
}

.login .loginContainer .btnContainer p span {
  color:red;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.resetbtn{
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover{
  background: #DC2424;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;

}
